<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Address:</h5> No 21 Muthiyal Reddy 1st Street
                            <br>
                            <h5>Locality:</h5> Alandur
                            <h5>City:</h5> Chennai
                            <h5>Pincode:</h5> 600061
                            <br>
                            <h5>Telephone:</h5> 9884029044
                            <br>
                            </h5>
                        </div>
                        <div class="col-md-6">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1943.7995768136852!2d80.204784138849!3d12.997470588873277!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcb56e423de94f5a0!2sMM+Cartons!5e0!3m2!1sen!2sin!4v1502088484667" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>