<!-- Portfolio Grid Section -->
<section id="pricing" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Pricing</h2>
                <h3 class="section-subheading text-muted">Our pricing schemes are not fixed because of countless aspects that accounts for manufacturing cost of a corrugated box.</h3>
            </div>
        </div>
        <!--div class="row">
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="schem-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div-->
        <div>
            Still we feel this is no excuse not to show pricing information.When it comes to corrugated box industry cost/price of box is determined by the total weight of the paper used for making the box. Kraft paper quality is measured in GSM(grams per square meter) higher the gsm stronger is the box. GSM of the corrugated board determines the prices of the price. Based on size & quality of the box prices are determined.Estimates given below should help in your pricing research.

            <br><br>
            <!--table>
            <thead>
                <tr>
                    <th>Product Type</th>
                    <th>Quality</th>
                    <th>Dimension in inches</th>
                    <th>Price in Rs</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Corrugated Box</td>
                    <td>180 GSM</td>
                    <td>18 x 12 x 6</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Printed Box</td>
                    <td>180 GSM</td>
                    <td>18 x 12 x 6</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Mailer Box</td>
                    <td>180 GSM</td>
                    <td>18 x 12 x 6</td>
                    <td>150</td>
                </tr>
            </tbody>
            </table-->
        </div>
    </div>
</section>
