<!-- Portfolio Grid Section -->
<section id="pricing" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-8  text-center">
                <h2 class="section-heading">Pricing</h2>
                <h3 class="section-subheading text-muted">Our pricing schemes are not fixed. </h3> 
                <p class="text-left">
                Countless aspects that accounts for manufacturing cost of a corrugated box renders fixed pricing model not feasible.Still we feel this is no excuse not to show pricing information.When it comes to corrugated box industry cost/price of box is determined by the total weight of the paper used for making the box. Kraft paper quality is measured in GSM(grams per square meter) higher the gsm stronger is the box. GSM of the corrugated board determines the prices of the price. Based on size & quality of the box prices are determined.
                </p>
            </div>
            <div class="col-lg-3 text-center">
                <img src="img/price.jpg" class="img-responsive img-circle" alt="">
            </div>
        </div>
    </div>
</section>